all:
  hosts:
    localhost:
  vars:
    user: sebastien.georget
    user_name: Sebastien Georget
    user_mail:
    user_home: /home/{{ user }}
    private: false
    desktop: false
    games: false
    remote_access: false
