- hosts: localhost
  gather_facts: no
  roles:
  - role: ansible.cli
    username: zzz
  - role: ansible.python
  - role: ansible.ssh-tunnel-endpoint
    origin: xxx
  - role: ansible.user
    username: zzz
    add_in_sudoers: false
